body {
    --bold-color: #00d6d6;
    --italic-color: #cd33fc;
    --font-bold: 1000;
    --font-extrabold: 1000;
    --font-black: 1000;
  
    --h1-color: #9446f8;
    --h2-color: #2a8aff;
    --h3-color: #56f056;
    --h4-color: #cccf13;
    --h5-color: #f1ae1d;
    --h6-color: #f15963;
    --h1-weight: 800;
    --h2-weight: 800;
    --h3-weight: 800;
    --h4-weight: 800;
    --h5-weight: 800;
    --h6-weight: 800;

  #floating-control {
    position: fixed;
    color: var(--link-color);
    bottom: 1vmax;
    right: 1vmax;
    font-size: 24px;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;

    .svg-icon,
    i {
      cursor: pointer;
      height: 24px;
      width: auto;
    }

    #theme-switch {
      .light {
        display: none;
      }

      .dark {
        display: none;
      }

      .auto {
        display: none;
      }
    }

    #theme-switch.light {
      .light {
        display: inline;
      }
    }

    #theme-switch.dark {
      .dark {
        display: inline;
      }
    }

    #theme-switch.auto {
      .auto {
        display: inline;
      }
    }
  }
}
